.breadcrumb {
  background-color: #fff;
  padding: 0.8rem;
  box-shadow: var(--shadow-2);
  margin: 0 1rem;
}

.breadcrumb-nav {
  list-style: none;
  display: flex;
}

.breadcrumb-item {
  margin-left: 0.5rem;
  color: #6e6e6e;
}

.breadcrumb-item:not(:last-of-type)::after {
  content: "/";
  margin-left: 0.5rem;
}

.breadcrumb-item a {
  color: var(--link);
}
