.pagination{
  width: fit-content;
  padding: .5rem;
}

.pagination-nav{
  list-style: none;
  display: flex;
}

.pagination-item:not(:first-of-type){
  margin-left: .7rem;
}

.pagination-link{
  display: inline-block;
  padding: .2rem .8rem;
  background-color: #fff;
  box-shadow: var(--shadow-2);
}

.pagination-link.active{
  background-color: #286b98;
  color: #fff;
}

.pagination-link:hover{
  background-color: #286b98;
  color: #fff;
}

.pagination-arrow{
  height: 100%;
  width: 2rem;
}

.arrow-left{
  background: #fff url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1.5L1 8.5L8 15.5' stroke='%23656565' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center/0.6rem no-repeat;
}
.arrow-left:hover{
  background: #286b98 url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1.5L1 8.5L8 15.5' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") center/0.6rem no-repeat;
}

.arrow-right{
 background: #fff url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L8 8.5L1 15.5' stroke='%23656565' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center/0.6rem no-repeat;
}
.arrow-right:hover{
 background: #286b98 url("data:image/svg+xml,%3Csvg width='9' height='17' viewBox='0 0 9 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L8 8.5L1 15.5' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center/0.6rem no-repeat;
}